body{
    margin: 0px;
}

#body-header{
    height: 100vh;
    opacity: 0.9;
    position: relative;
    background-image: url(Images/Snapchat-623880811\ \(1\).jpg);
    background-size: cover;
    background-position: center;
     background-attachment: fixed;
}

.horizonal_list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizonal_list li{
    display: inline-block;
    margin: 0px 32px 32px 0;
}

.horizonal_list a{
    color:white;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.text-center{
    text-align: center;
}
.nav-menu a:hover{
    color:aqua;
    font-size: larger;
}

#SocialContainer{
    margin-top: 20vh;
}

#myname{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i{
   border-radius: 50%; 
   /*to make icon circular */
    padding: 9px;
    font-size: 2rem;
    
}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px skyblue;
}

.nav-menu li a{
    transition: color 0.5s, boder-bottom;
}

#about{
    height: auto;
    width: 100%;
}

/* img{
    border-radius: 50%;
    ;
} */

.profile {
   height: 50%;
   width: 22%;
   display: block;
   align-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 49%;
    margin-top: -200px;
    position: relative;
    border-image: 10px #000080;
}
/* .profile:hover{
    height: 100%;
    width: 100%;
}  */

#intro{
    flex-direction: row;
    align-content: center;
    margin: 70px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
