body{
    margin: 0px;
}

#body-header{
    height: 100vh;
    opacity: 0.9;
    position: relative;
    background-image: url(Images/Snapchat-623880811\ \(1\).jpg);
    background-size: cover;
    background-position: center;
     background-attachment: fixed;
}

.horizonal_list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizonal_list li{
    display: inline-block;
    margin: 0px 32px 32px 0;
}

.horizonal_list a{
    color:white;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.text-center{
    text-align: center;
}
.nav-menu a:hover{
    color:aqua;
    font-size: larger;
}

#SocialContainer{
    margin-top: 20vh;
}

#myname{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i{
   border-radius: 50%; 
   /*to make icon circular */
    padding: 9px;
    font-size: 2rem;
    
}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px skyblue;
}

.nav-menu li a{
    transition: color 0.5s, boder-bottom;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin: 70px; */
    
}

section:nth-child(2n){
    background-color: white;
}

section:nth-child(2n+1){
    background-color: aliceblue;
}
#about{
    height: auto;
    width: 100%;

}

/* img{
    border-radius: 50%;
    ;
} */

.profile {
   height: 50%;
   width: 22%;
   display: block;
   align-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 49%;
    margin-top: -300px;
    position: relative;
    border-image: 10px #000080;
    border: 1px white;
    
}
/* .profile:hover{
    height: 100%;
    width: 100%;
}  */

 .skills{
    margin-left: auto;
    margin-right: auto;
    width: 0%;
    padding: 15px;
} 
#intro{
    flex-direction: row;
    align-content: center;
    margin: 70px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section.heading{
    width: auto;
    padding: 20px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    
}

.section.heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

.mb75px{
    margin-bottom: 75px;
}

.Skills-Display{
    width: 70%;
    /* height: 100px;
    border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

}

.skills{
    align-items: center;
}

.Skills-Progress{
    width: 7rem;
    height: 1.4rem;
    background-color: black;
    border-radius: 0.8rem;
    border: 1rem;
    
}

/* Percentage Class */
.ninty-five-per{
    width: 100%;
    height: inherit;
}

.eighty-five-per{
    width: 85%;
    height: inherit;
}

.seventy-five-per{
    width: 75%;
    height: inherit;
}

.mb-blue{
    background-color: blue;
}

.skill-name{
    color: white;
    font-size: 1rem;
}

.Skills-Progress>div{
    border-radius: 20px 0px 0px 20px;
}

.skill-name span{
    color: white;
    font-size: 1rem;
    margin-left: 5px;
}